// Dark Color
$dark-color: #1b1b1b;

// Gray Background
$bg-gray: #f8f8f8;

// Default Background
$bg-default: #F4F5F8;

// Text Color
$text-color: #333333;

// DEEP GRAY COLOR
$text-dgray-color: #666;

// NEUTRAL GRAY COLOR
$text-ngray-color: #999;

// Red Color
$red-color:#E1251B;

$red-color-hover: #e75048;

// White Color
$white-color: #ffffff;

//Blue Color
$blue-color:#0F6FCF;

//Green Color
$green-color:#41C559;

//Orgn Color
$orgn-color:#FF721F;

// Hover Color
$hover-color: #2c56df;

// Border Color
$border-color: #E0E0E0;

// border line Color
$border-line-color:#F0F0F0;
// Footer Color
$footer-color: #393939;