@import '_variables';


.el-input__inner {
  border-radius: 0;
}

.el-input-group__prepend {
  border-radius: 0;
}

.el-button--default {
  border-radius: 0;

  &:hover {
    color: $red-color;
    background-color: #fff;
    border-color: #DCDFE6;
  }
}

.el-button--primary {
  background: $red-color;
  border-color: $red-color;
  border-radius: 0;

  &:hover,
  :active {
    background: $red-color-hover;
  }
}

.el-popper {
  transform: translateY(-14px) !important;
  border: none !important;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .1) !important;

  .el-popper__arrow {
    display: none;
  }

  .el-dropdown-menu {
    border: none !important;
    border-radius: 0px !important;
    padding: 0;
  }
}

.el-message--info {
  min-width: 0px !important;
  padding: 20px 78px !important;
  border: none !important;
  background: #313131 !important;
  top: 50% !important;
  opacity: 0.8;

  .el-message__content {
    color: #fff !important;
  }

  .el-message__icon {
    display: none;
  }
}

.el-overlay {
  background-color: rgba(0, 0, 0, .1)
}

.el-message-box {
  width: 322px;
  padding: 0 35px;
  border-radius: 0;
  position: relative;

  .el-message-box__header {
    position: absolute;
    left: 0;
    right: 0;

    .el-message-box__title {
      display: none;
    }

    .el-message-box__headerbtn {
      right: 10px;
      top: 10px;

      .el-message-box__close {
        display: none;
      }
    }
  }

  .el-message-box__content {
    text-align: center;
    color: #333;
    font-size: 15px;
    padding: 42px 20px 20px;
    white-space: pre-line !important;
  }

  .el-message-box__btns {
    margin-bottom: 26px;
    text-align: center
  }


  .el-button--default {
    width: 90px;
    height: 32px;
    line-height: 32px;
    border-radius: 0;
    padding: 0;

    &:hover {
      color: $red-color;
      background-color: #fff;
      border-color: #DCDFE6;
    }
  }

  .el-button--primary {
    background: $red-color;
    border-color: $red-color;
    width: 90px;
    height: 32px;
    line-height: 32px;
    border-radius: 0;
    padding: 0;

    &:hover {
      background: $red-color;
      border-color: $red-color;
      color: #fff;
    }
  }
}