@import '_fonts';
@import '_variables';
@import 'element-variables';

html {
  height: 100%;
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0;
  list-style: none;
}

body {
  font-size: 12px;
  font-family: $comm-font !important;
  color: $text-color !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.send-btn {
  width: 138px;
  height: 40px;
  border: 1px solid #e1251b;
  color: #e1251b;
  background: #fff;
  cursor: pointer;
}

a {
  outline: none;
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: $red-color;
  }
}

.btn {
  border: none;
}

.btn-red {
  background: $red-color;
  color: $white-color;
  border: none;
  cursor: pointer;

  &:hover {
    background: #E75048;
    color: $white-color !important;
  }

  &:active {
    background: #CA2118;
    color: $white-color;
  }

  &[disabled="disabled"] {
    border: none;
    background: $text-ngray-color;
    color: $white-color;
  }
}